
.Favorite{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    
}

p{
    color: black;
    font-size: 30px;
}