.header{
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 20px;
    align-items: center;
    user-select: none;

}
.header-wrapper{
    display: flex;
    justify-content: space-around;
    margin-right: 55px;
}

.icons-wrapper{
    display: flex;
    margin-top: 65px;
    gap: 60px;
    cursor: pointer;
}

.title{
    justify-items: center;
    display: flex;
    align-items: center;
}

.title-img{
    height: 105px;
    width: 115px;
}