.product-card{
    color: black;
    background-color: rgb(255, 255, 255);
    
}

.image-wrapper{
    display: flex;
    align-items: flex-start;
    & img{
        width: 380px;
        height: 380px;
        position: relative;
    }

    & button{
        position: absolute;
       
    }
}

.product-price{
    font-size: 30px;
    text-align: center;
    
}
.product-name{
    font-size: 30px;
    text-align: center;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-favorite{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}

.add-to-cart{
    
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer; 
    margin-left: 130px;
   margin-bottom: 15px;  
}

.remove-to-cart{
    display: flex;
    background-color: rgb(160, 165, 160);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-left: 130px;
   
}

.delete-favorite{
    display: flex;
    margin-left: 350px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.delete-catd{
    display: flex;
   
   
    color: yellow;
    border: none;
    background: none;
    margin-top: 3px;
    cursor: pointer;
}

.fa-lg{
    font-size: 25px;
}

